<section class="container clearfix">
        <ul id="scene"  appParallaxJs class="scene">
                <li class="layer" data-depth="0.00">
                        <div class="background"></div>
                </li>

                <li class="layer" data-depth="0.60">
                        <div class="kurama"><img src="https://andwecode.com/playground-demo/naruto-with-parallax-js/images/kurama.png"></div>
                </li>

                <li class="layer" data-depth="0.40" data-invert-y="false">
                        <div class="landscape"><img src="https://andwecode.com/playground-demo/naruto-with-parallax-js/images/landscape.png" /></div>
                </li>

                <li class="layer" data-depth="0.60">
                        <div class="grass"><img src="https://andwecode.com/playground-demo/naruto-with-parallax-js/images/grass.png" /></div>
                </li>

                <li class="layer" data-depth="1.20">
                        <div class="obito"><img src="https://andwecode.com/playground-demo/naruto-with-parallax-js/images/obito.png"></div>
                </li>

                <li class="layer" data-depth="1.00">
                        <div class="minato"><img src="https://andwecode.com/playground-demo/naruto-with-parallax-js/images/minato.png"></div>
                </li>

                <li class="layer" data-depth="2.30">
                        <div class="leaves"><img src="https://andwecode.com/playground-demo/naruto-with-parallax-js/images/leaves.png"></div>
                </li>
        </ul>
</section>